networks:
  app-network:
    driver: bridge
    name: app-network
    enable_ipv6: true

services:
  app:
    container_name: app
    hostname: app
    restart: always
    networks:
      - app-network
    build: .
    environment:
      - TZ=America/Sao_Paulo
      - DB_USER=enquetes
      - DB_PASSWORD=xxxxxxxx
      - DB_NAME=enquetes
      - DB_HOST=db_server
      - SECRET_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USER=seuemail@gmail.com
      - SMTP_PASSWORD=xxxxxxxxxxxxxx
      - SMTP_FROM=No-Reply <seuemail@gmail.com>
    depends_on:
      - db_server
    volumes:
      - /srv/app:/app/static/uploads

  db_server:
    container_name: db_server
    hostname: db_server
    image: mysql:latest
    restart: always
    networks:
      - app-network
    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_PASSWORD: 123@Mudar
      MYSQL_DATABASE: enquetes
      MYSQL_USER: enquetes
      MYSQL_PASSWORD: xxxxxxxx
    volumes:
      - /srv/dbserver:/var/lib/mysql